body {
  text-align: center;
  background-color: #ffffa1;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 5px solid black;
  margin: 1.5rem;
  filter: drop-shadow(0 0px 10px rgba(24, 24, 15, 0.89));

}

.btn-container {
  display: flex;
  justify-content: center;
}

.yellow {
  background-color: #f99b45;
}

.red {
  background-color: #d95980;
}

.purple {
  background-color: #819ff9;
}

.green {
  background-color: #63aac0;
}

.flash {
  background-color: white;
}

.userflash {
  background-color: green;
}